body {
  &.underconstruction {
    .main-overlay {
      background: rgba(53, 53, 53, 0.4);
    }

    .ajax-page-dynamic .ajax-content {
      @media(min-width: 992px) {
        background: rgba(53, 53, 53, 0.4);
      }
    }

    .navigation-btn[data-action="go-next-page"]:before {
      background-image: url('../img/ico/mail-under.svg');
    }

    .background:first-child {
      -webkit-filter: blur(5px);
      filter: blur(5px);
      transform: scale(1.01);
    }

    .sign-in-page {
      @media ( max-width: 991px ) {
        background-color: black;
      }
    }

    &.light {
      .sign-in-page {
        @media ( max-width: 991px ) {
          background-color: white;
        }
      }
    }
  }
}
